/* FGC = Foreground Color, BGC = Background Color */
/* b(Color) = bright (Color) */
/* https://en.wikipedia.org/wiki/ANSI_escape_code#8-bit */
.fgc-black { color: rgb(0, 0, 0); }
.fgc-red { color: rgb(128, 0, 0); }
.fgc-green { color: rgb(0, 128, 0); }
.fgc-yellow, .fgc-orange { color: rgb(128, 128, 0); }
.fgc-blue { color: rgb(0, 0, 128); }
.fgc-magenta { color: rgb(128, 0, 128); }
.fgc-cyan { color: rgb(0, 128, 128); }
.fgc-white { color: rgb(192, 192, 192); }
.fgc-bBlack, .fgc-gray, .fgc-grey { color: rgb(128, 128, 128); }
.fgc-bRed { color: rgb(255, 0, 0); }
.fgc-bGreen { color: rgb(0, 255, 0); }
.fgc-bYellow { color: rgb(255, 255, 0); }
.fgc-bBlue { color: rgb(0, 0, 255); }
.fgc-bMagenta { color: rgb(255,0, 255); }
.fgc-bCyan { color: rgb(0,255, 255); }
.fgc-bWhite { color: rgb(255, 255, 255); }

.fgc-black-blink    { color: rgb(0, 0, 0); animation:black-blink 1s infinite; }
.fgc-red-blink      { color: rgb(128, 0, 0); animation:red-blink 1s infinite; }
.fgc-green-blink    { color: rgb(0, 128, 0); animation:green-blink 1s infinite; }
.fgc-yellow-blink, .fgc-orange { color: rgb(128, 128, 0); animation:yellow-blink 1s infinite; }
.fgc-blue-blink     { color: rgb(0, 0, 128);  animation:blue-blink 1s infinite; }
.fgc-magenta-blink  { color: rgb(128, 0, 128); animation:magenta-blink 1s infinite; }
.fgc-cyan-blink     { color: rgb(0, 128, 128); animation:cyan-blink 1s infinite; }
.fgc-white-blink    { color: rgb(192, 192, 192); animation:white-blink 1s infinite; }
.fgc-bBlack-blink, .fgc-gray, .fgc-grey { color: rgb(128, 128, 128); animation:bBlack-blink 1s infinite; }
.fgc-bRed-blink     { color: rgb(255, 0, 0); animation:bRed-blink 1s infinite; }
.fgc-bGreen-blink   { color: rgb(0, 255, 0); animation:bGreen-blink 1s infinite; }
.fgc-bYellow-blink  { color: rgb(255, 255, 0); animation:bYellow-blink 1s infinite; }
.fgc-bBlue-blink    { color: rgb(0, 0, 255); animation:bBlue-blink 1s infinite; }
.fgc-bMagenta-blink { color: rgb(255,0, 255); animation:bMagenta-blink 1s infinite; }
.fgc-bCyan-blink    { color: rgb(0,255, 255); animation:bCyan-blink 1s infinite; }
.fgc-bWhite-blink   { color: rgb(255, 255, 255); animation:bWhite-blink 1s infinite; }

.bgc-black { background-color: rgb(0, 0, 0); }
.bgc-red { background-color: rgb(128, 0, 0); }
.bgc-green { background-color: rgb(0, 128, 0); }
.bgc-yellow,.bgc-orange { background-color: rgb(128, 128, 0); }
.bgc-blue { background-color: rgb(0, 0, 128); }
.bgc-magenta { background-color: rgb(128, 0, 128); }
.bgc-cyan { background-color: rgb(0, 128, 128); }
.bgc-white { background-color: rgb(192, 192, 192); }
.bgc-bBlack,.bgc-gray,.bgc-grey { background-color: rgb(128, 128, 128); }
.bgc-bRed { background-color: rgb(255, 0, 0); }
.bgc-bGreen { background-color: rgb(0, 255, 0); }
.bgc-bYellow { background-color: rgb(255, 255, 0); }
.bgc-bBlue { background-color: rgb(0, 0, 255); }
.bgc-bMagenta { background-color: rgb(255,0, 255); }
.bgc-bCyan { background-color: rgb(0,255, 255); }
.bgc-bWhite { background-color: rgb(255, 255, 255); }

@keyframes black-blink {
    0% { color: rgba(0, 0, 0, 1); }
    49% { color: rgba(0, 0, 0, 1); }
    50% { color: rgba(0, 0, 0, 0); }
    100% { color: rgba(0, 0, 0, 0); }
}

@keyframes red-blink {
    0% { color: rgba(128, 0, 0, 1); }
    49% { color: rgba(128, 0, 0, 1); }
    50% { color: rgba(128, 0, 0, 0); }
    100% { color: rgba(128, 0, 0, 0); }
}

@keyframes green-blink {
    0% { color: rgba(0, 128, 0, 1); }
    49% { color: rgba(0, 128, 0, 1); }
    50% { color: rgba(0, 128, 0, 0); }
    100% { color: rgba(0, 128, 0, 0); }
}

@keyframes yellow-blink {
    0% { color: rgba(128, 128, 0, 1); }
    49% { color: rgba(128, 128, 0, 1); }
    50% { color: rgba(128, 128, 0, 0); }
    100% { color: rgba(128, 128, 0, 0); }
}

@keyframes blue-blink {
    0% { color: rgba(0, 0, 128, 1); }
    49% { color: rgba(0, 0, 128, 1); }
    50% { color: rgba(0, 0, 128, 0); }
    100% { color: rgba(0, 0, 128, 0); }
}

@keyframes magenta-blink {
    0% { color: rgba(128, 0, 128, 1); }
    49% { color: rgba(128, 0, 128, 1); }
    50% { color: rgba(128, 0, 128, 0); }
    100% { color: rgba(128, 0, 128, 0); }
}

@keyframes cyan-blink {
    0% { color: rgba(0, 128, 128, 1); }
    49% { color: rgba(0, 128, 128, 1); }
    50% { color: rgba(0, 128, 128, 0); }
    100% { color: rgba(0, 128, 128, 0); }
}

@keyframes white-blink {
    0% { color: rgba(192, 192, 192, 1); }
    49% { color: rgba(192, 192, 192, 1); }
    50% { color: rgba(192, 192, 192, 0); }
    100% { color: rgba(192, 192, 192, 0); }
}

@keyframes bBlack-blink {
    0% { color: rgba(128, 128, 128, 1); }
    49% { color: rgba(128, 128, 128, 1); }
    50% { color: rgba(128, 128, 128, 0); }
    100% { color: rgba(128, 128, 128, 0); }
}

@keyframes bRed-blink {
    0% { color: rgba(255, 0, 0, 1); }
    49% { color: rgba(255, 0, 0, 1); }
    50% { color: rgba(255, 0, 0, 0); }
    100% { color: rgba(255, 0, 0, 0); }
}

@keyframes bGreen-blink {
    0% { color: rgba(0, 255, 0, 1); }
    49% { color: rgba(0, 255, 0, 1); }
    50% { color: rgba(0, 255, 0, 0); }
    100% { color: rgba(0, 255, 0, 0); }
}

@keyframes bYellow-blink {
    0% { color: rgba(255, 255, 0, 1); }
    49% { color: rgba(255, 255, 0, 1); }
    50% { color: rgba(255, 255, 0, 0); }
    100% { color: rgba(255, 255, 0, 0); }
}

@keyframes bBlue-blink {
    0% { color: rgba(0, 0, 255, 1); }
    49% { color: rgba(0, 0, 255, 1); }
    50% { color: rgba(0, 0, 255, 0); }
    100% { color: rgba(0, 0, 255, 0); }
}

@keyframes bMagenta-blink {
    0% { color: rgba(255,0, 255, 1); }
    49% { color: rgba(255,0, 255, 1); }
    50% { color: rgba(255,0, 255, 0); }
    100% { color: rgba(255,0, 255, 0); }
}

@keyframes bCyan-blink {
    0% { color: rgba(0,255, 255, 1); }
    49% { color: rgba(0,255, 255, 1); }
    50% { color: rgba(0,255, 255, 0); }
    100% { color: rgba(0,255, 255, 0); }
}

@keyframes bWhite-blink {
    0% { color: rgba(255, 255, 255, 1); }
    49% { color: rgba(255, 255, 255, 1); }
    50% { color: rgba(255, 255, 255, 0); }
    100% { color: rgba(255, 255, 255, 0); }
}
