html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


@font-face {
    font-family: 'Web437_IBM_VGA_8x16';
    src: url('../fonts/Web437_IBM_VGA_8x16.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'px437_ibm_vga8regular', serif;
    font-size: 1em;
    line-height: .938em;
    color: #D2D2D2;
    background-color: #000000;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row {
    margin: 0;
    padding:0;
    min-width: 640px;
    max-width: 640px;
    min-height: 16px;
    max-height: 16px;
    overflow: hidden;
}

.col {
    margin: 0;
    padding:0;
    min-width: 8px;
    max-width: 8px;
    min-height: 16px;
    max-height: 16px;
    overflow: hidden;
    float: left;
}
